---
title: Home
description: This is home page
main-page: false
accaount-struktor: false
---




<div class="accaount-struktor">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-left">
                    <h3>Account</h3>
                    <ul class="profile-list">
                        <li>
                            <img src="img/user.png" alt="">
                            <a href="">Profile Melumatlrı</a>
                        </li>
                        <li>
                            <img src="img/setting.png" alt="">
                            <a href="settings-account.html">Hesab Ayarları</a>
                        </li>
                        <li>
                            <img src="img/setting.png" alt="">
                            <a href="address.html">Ünvan məlumatları</a>
                        </li>
                        <li>
                            <img src="img/setting.png" alt="">
                            <a href="card.html">kart məlumatları</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-right">
                    <h3>Kart məlumatlari</h3>
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <div class="left">
                                <label for="">Balance</label>
                                <input type="text" value="205 AZN">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="center">
                                <h5>Add ammount & card details</h5>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6>Amount</h6>
                                        <input type="text" placeholder="Amount">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="0000 0000 0000 0000">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="MM"> 
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="YY">
                                    </div>
                                    <div class="col-md-4 d-flex ">
                                        <img src="img/credit-card.png" alt="">
                                        <input type="text" placeholder="CVV">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Name & Surname">
                                    </div>
                                </div>
                                
                                <button>Kartı əlavə et</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="right">
                                <div class="card-data">
                                    <div class="card-imgg">
                                        <img src="img/credit-card.png" alt="">
                                    </div>
                                    <div>
                                        <h6>**** **** **** 4556</h6>
                                        <p>Expires 10/2022</p>
                                        <p>(Default)</p>
                                    </div>
                                    <div class="delete">
                                        <img src="img/bin.png" alt="">
                                    </div>
                                </div>
                                <div class="card-data">
                                    <div class="card-imgg">
                                        <img src="img/credit-card.png" alt="">
                                    </div>
                                    <div>
                                        <h6>**** **** **** 4556</h6>
                                        <p>Expires 10/2022</p>
                                        <p>(Default)</p>
                                    </div>
                                    <div class="delete">
                                        <img src="img/bin.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>