---
title: Home
description: This is home page
userblock: false
main-page: true
d-noneuser: false

---
<main>
    {{!-- banner html code --}}
    <section class="banner">
        <div class="container">
            <div class="banner-text">
                <h1>The most comfortable place <br> for your work to be done.</h1>

                <form action="">
                    <div class="form-group">
                        <input type="text" placeholder="What service do you need?" class="search-input">
                        {{!-- <input type="text" class="post-code" placeholder="Postcode"> --}}
                        <button>Search</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {{!-- news section html code --}}
    <section class="news-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="news-inner">
                        <h1 class="text-center">We make it easy for you <br> to find the right specialist for the job <br> you need to do.</h1>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="text-block">
                                    <h3>1. Search. Tell us which service you need</h3>
                                    <p>Browse a list of profiles, see prices and use <br> filters to find pros who match your project.</p>

                                    <h3>2. Chat</h3>
                                    <p>Contact the pros you like to discuss <br>    project details.</p>

                                    <h3>3. Hire</h3>
                                    <p>Check availability and book pros right in the app.</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="img-block">
                                    <img src="content/image1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="card-block">
        <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card-item card-box">
                            <div class="card-head">
                                <img src="content/img2.png" alt="">
                            </div>
                            <div class="card-text">
                                <h3>Temirci</h3>
                                <p><img src="img/user.png" alt="">1.290 Statistik</p>
                                <p><img src="img/star.png" alt="">4.7 (Yorum)</p>
                                <a href="">Təklif et</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card-item card-box">
                            <div class="card-head">
                                <img src="content/img2.png" alt="">
                            </div>
                            <div class="card-text">
                                <h3>Temirci</h3>
                                <p><img src="img/user.png" alt="">1.290 Statistik</p>
                                <p><img src="img/star.png" alt="">4.7 (Yorum)</p>
                                <a href="">Təklif et</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="card-item card-box">
                            <div class="card-head">
                                <img src="content/img2.png" alt="">
                            </div>
                            <div class="card-text">
                                <h3>Temirci</h3>
                                <p><img src="img/user.png" alt="">1.290 Statistik</p>
                                <p><img src="img/star.png" alt="">4.7 (Yorum)</p>
                                <a href="">Təklif et</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card-item card-box">
                            <div class="card-head card-box">
                                <img src="content/img2.png" alt="">
                            </div>
                            <div class="card-text">
                                <h3>Temirci</h3>
                                <p><img src="img/user.png" alt="">1.290 Statistik</p>
                                <p><img src="img/star.png" alt="">4.7 (Yorum)</p>
                                <a href="">Təklif et</a>
                            </div>
                        </div>
                    </div> 
                </div>
        </div>
    </div>
    {{!-- Card block html code --}}
    <div class="card-block">
        <div class="container">
            <h2>Thousands of people use www.find-pro.co.uk <br> to make their work quick and easy.</h2>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-item">
                                <div class="card-head">
                                    <img src="content/img2.png" alt="">
                                    <h3>Amanda hired a <br> photographer</h3>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, voluptas quam fugit qui rerum vitae aliquid culpa quod? Suscipit sapiente exercitationem ratione, quam atque accusamus illum sequi. Excepturi, veritatis omnis?</p>
                                    <div class="review-box">
                                        <img src="content/img2.png" alt="">
                                        <div class="review-text">
                                            <h5>THE PRO</h5>
                                            <h4>Mickey Strider</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="card-item">
                                <div class="card-head">
                                    <img src="content/img2.png" alt="">
                                    <h3>Amanda hired a <br> photographer</h3>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, voluptas quam fugit qui rerum vitae aliquid culpa quod? Suscipit sapiente exercitationem ratione, quam atque accusamus illum sequi. Excepturi, veritatis omnis?</p>
                                    <div class="review-box">
                                        <img src="content/img2.png" alt="">
                                        <div class="review-text">
                                            <h5>THE PRO</h5>
                                            <h4>Mickey Strider</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-item">
                                <div class="card-head">
                                    <img src="content/img2.png" alt="">
                                    <h3>Amanda hired a <br> photographer</h3>
                                </div>
                                <div class="card-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, voluptas quam fugit qui rerum vitae aliquid culpa quod? Suscipit sapiente exercitationem ratione, quam atque accusamus illum sequi. Excepturi, veritatis omnis?</p>
                                    <div class="review-box">
                                        <img src="content/img2.png" alt="">
                                        <div class="review-text">
                                            <h5>THE PRO</h5>
                                            <h4>Mickey Strider</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- market block html code --}}
    <div class="market-block"></div>

    <div class="card-block">
        <div class="container">
            <h2>Thousands of people use www.find-pro.co.uk <br> to make their work quick and easy.</h2>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <div class="card-item">
                                <div class="card-head h500">
                                    <img src="content/img2.png" alt="">
                                    <h3>Amanda hired a <br> photographer</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-item mb-3">
                                <div class="card-head h250">
                                    <img src="content/img2.png" alt="">
                                    <h3 class="text-left">Amanda hired a <br> photographer</h3>
                                </div>
                            </div>
                            <div class="card-item">
                                <div class="card-head h250">
                                    <img src="content/img2.png" alt="">
                                    <h3>Amanda hired a <br> photographer</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-item">
                                <div class="card-head">
                                    <img src="content/img2.png" alt="">
                                    <h3>Amanda hired a <br> photographer</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-item">
                                <div class="card-head">
                                    <img src="content/img2.png" alt="">
                                    <h3>Amanda hired a <br> photographer</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-item">
                                <div class="card-head">
                                    <img src="content/img2.png" alt="">
                                    <h3>Amanda hired a <br> photographer</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="country-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h4>Trending now in these areas.</h4>
                    <ul>
                        <li>London</li>
                        <li>Southampton</li>
                        <li>Birmingham</li>
                        <li>Manchester</li>
                        <li>Edinburgh</li>
                        <li>Cardiff</li>
                        <li>Belfast</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="alluk-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="uk-left">
                                <img src="content/imgggggg.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="uk-right">
                                <h3>All UK</h3>
                                <p>From big cities to small towns, we’ve got pros <br> covering every county in the UK.</p>
                                <span>View All Sities</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>