
<div class="notification-inner">
    <div class="container">
        {{!-- <div class="not-head">
            <ul class="breadcramp">
                <li><a href="">Profile</a></li>
                <li><a href="">Projects</a></li>
            </ul>
        </div> --}}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="inner-data">
                    <div class="message-box">
                        <div class="text">
                            <p>Messages</p>
                            <p>Pros send you messages.</p>
                        </div>
                        <div class="button-box">
                            <div class='checkbox-ios'>
                                <input class='checkbox-ios__toggle' id='checkboxQuestion' name='checkboxQuestion' type='checkbox' checked>
                                    <label class='checkbox-ios__label' for='checkboxQuestion'>
                                    </label>
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class="message-box">
                        <div class="text">
                            <p>Messages</p>
                            <p>Pros send you messages.</p>
                        </div>
                        <div class="button-box">
                            <div class='checkbox-ios'>
                                <input class='checkbox-ios__toggle' id='checkboxQuestion1' name='checkboxQuestion1' type='checkbox' checked>
                                    <label class='checkbox-ios__label' for='checkboxQuestion1'>
                                    </label>
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class="message-box">
                        <div class="text">
                            <p>Messages</p>
                            <p>Pros send you messages.</p>
                        </div>
                        <div class="button-box">
                            <div class='checkbox-ios'>
                                <input class='checkbox-ios__toggle' id='checkboxQuestion2' name='checkboxQuestion2' type='checkbox' checked>
                                    <label class='checkbox-ios__label' for='checkboxQuestion2'>
                                    </label>
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class="message-box">
                        <div class="text">
                            <p>Messages</p>
                            <p>Pros send you messages.</p>
                        </div>
                        <div class="button-box">
                            <div class='checkbox-ios'>
                                <input class='checkbox-ios__toggle' id='checkboxQuestion3' name='checkboxQuestion3' type='checkbox'>
                                    <label class='checkbox-ios__label' for='checkboxQuestion3'>
                                    </label>
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class="message-box">
                        <div class="text">
                            <p>Messages</p>
                            <p>Pros send you messages.</p>
                        </div>
                        <div class="button-box">
                            <div class='checkbox-ios'>
                                <input class='checkbox-ios__toggle' id='checkboxQuestion4' name='checkboxQuestion4' type='checkbox' checked>
                                    <label class='checkbox-ios__label' for='checkboxQuestion4'>
                                    </label>
                                </input>
                            </div>
                        </div>
                    </div>

                    <div class="btn-block">
                        <button class="unsubscribe-btn">Unsubscribe all</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>