<section class="vacancy-inner">
    <div class="container">
        <div class="vacancy-navbar">
            <ul>
                <li>
                    <a href="">
                        <img src="img/11111.svg" alt=""> 
                        About
                    </a>
                </li>
                <li>
                    <a href="our_team.html">
                        <img src="img/22222.svg" alt="">
                        Team
                    </a>
                </li>
                <li>
                    <a href="vacancy.html">
                        <img src="img/33333.svg" alt="">
                        Vacancy
                    </a>
                </li>
                <li>
                    <a href="press.html">
                        <img src="img/44444.svg" alt="">
                        Press
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/55555.svg" alt="">
                        Blog
                    </a>
                </li>
            </ul>
        </div>

        <div class="vacancy-banner">
            <img src="content/imageeeeee.png" alt="">
        </div>

        <h3 class="title">Together we are creating <br>
                the best service market in the UK.</h3>

        
        <div class="team-inner">
            <h3>OUR TEAM</h3>

            <div class="row">
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/b.png" alt="">
                            <h4>Balagha Mammadov</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/a.png" alt="">
                            <h4>Anar Rzayev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/l.png" alt="">
                            <h4>Azer Hadjiyev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/hh.png" alt="">
                            <h4>Lale Pashayeva</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/b.png" alt="">
                            <h4>Balagha Mammadov</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/a.png" alt="">
                            <h4>Anar Rzayev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/l.png" alt="">
                            <h4>Azer Hadjiyev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/hh.png" alt="">
                            <h4>Lale Pashayeva</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/b.png" alt="">
                            <h4>Balagha Mammadov</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/a.png" alt="">
                            <h4>Anar Rzayev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/l.png" alt="">
                            <h4>Azer Hadjiyev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/hh.png" alt="">
                            <h4>Lale Pashayeva</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/b.png" alt="">
                            <h4>Balagha Mammadov</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/a.png" alt="">
                            <h4>Anar Rzayev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/l.png" alt="">
                            <h4>Azer Hadjiyev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/hh.png" alt="">
                            <h4>Lale Pashayeva</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/b.png" alt="">
                            <h4>Balagha Mammadov</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/a.png" alt="">
                            <h4>Anar Rzayev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/l.png" alt="">
                            <h4>Azer Hadjiyev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/hh.png" alt="">
                            <h4>Lale Pashayeva</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/b.png" alt="">
                            <h4>Balagha Mammadov</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/a.png" alt="">
                            <h4>Anar Rzayev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/l.png" alt="">
                            <h4>Azer Hadjiyev</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <a href="">
                            <img src="content/hh.png" alt="">
                            <h4>Lale Pashayeva</h4>
                            <h4>Worker</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="team-bottom">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-box">
                            <img src="content/comp.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-box">
                            <p>We strive for the success and development
of all professionals in United Kingdom,
those who want to expand their business.
We try to make it easy and convenient to find
people looking for different services.
We do it with love.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>