---
title: Home
description: This is home page
main-page: false
accaount-struktor: false
---




<div class="accaount-struktor">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-left">
                    <h3>Account</h3>
                    <ul class="profile-list">
                        <li>
                            <img src="img/user.png" alt="">
                            <a href="profile.html">Profile Melumatlrı</a>
                        </li>
                        <li>
                            <img src="img/credit-card.png" alt="">
                            <a href="card.html">Büdcə və Ödənişlər</a>
                        </li>
                        <li>
                            <img src="img/gear.png" alt="">
                            <a href="settings-account.html">Təhlükəsizlik ayarları</a>
                        </li>
                        <li>
                            <img src="img/repairing-service.png" alt="">
                            <a href="services.html" class="active">Xidmətlərim</a>
                        </li>
                        <li>
                            <img src="img/address.png" alt="">
                            <a href="work-areal.html">İş arealı</a>
                        </li>
                        <li>
                            <img src="img/customer-service.png" alt="">
                            <a href="">Əlavə xidmətlər</a>
                        </li>
                        <li>
                            <img src="img/inbox.png" alt="">
                            <a href="">Gələnlər qutusu</a>
                        </li>
                        <li>
                            <img src="img/location.png" alt="">
                            <a href="address.html">Ünvan məlumatları</a>
                        </li>
                        <li>
                            <img src="img/notification.png" alt="">
                            <a href="account-notification.html">Bildiriş</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-right">
                    <h3>My services</h3>
                    <div class="service-box">
                        <div class="row">
                            <div class="col-md-4">
                                <table class="services-list">
                                    <tr>
                                        <th>My service category - Home improvement</th>
                                    </tr>
                                    <tr>
                                        <td>Home Plumbing Services</td>
                                        <td>Set estimated cost</td>
                                    </tr>
                                    <tr>
                                        <td>Plumbing Repair Services</td>
                                        <td>70£ / hour</td>
                                    </tr>
                                    <tr>
                                        <td>Pipe Plumbing</td>
                                        <td>70£ / day</td>
                                    </tr>
                                    <tr>
                                        <td>Tile Installers</td>
                                        <td>Contact for price</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <div class="right">
                                    <label for="">Add new service</label>
                                    <input type="text" placeholder="Add new services">
                                </div>
                                <div class="scroll-list">
                                    <table>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>

                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>

                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                        <tr>
                                            <td>3D Property Management</td>
                                            <td>3D Property Management</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="right">
                                    <label for="">If you couldn’t find your service, write your service name, description and let us know.</label>
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                                <button>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>