---
title: Home
description: This is home page
main-page: false
accaount-struktor: false
---

<div class="accaount-struktor">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-left">
                    <h3>Account</h3>
                    <ul class="profile-list">
                        <li>
                            <img src="img/user.png" alt="">
                            <a href="profile.html">Profile Melumatlrı</a>
                        </li>
                        <li>
                            <img src="img/credit-card.png" alt="">
                            <a href="card.html">Büdcə və Ödənişlər</a>
                        </li>
                        <li>
                            <img src="img/gear.png" alt="">
                            <a href="settings-account.html" class="active">Təhlükəsizlik ayarları</a>
                        </li>
                        <li>
                            <img src="img/repairing-service.png" alt="">
                            <a href="services.html">Xidmətlərim</a>
                        </li>
                        <li>
                            <img src="img/address.png" alt="">
                            <a href="work-areal.html">İş arealı</a>
                        </li>
                        <li>
                            <img src="img/customer-service.png" alt="">
                            <a href="">Əlavə xidmətlər</a>
                        </li>
                        <li>
                            <img src="img/inbox.png" alt="">
                            <a href="">Gələnlər qutusu</a>
                        </li>
                        <li>
                            <img src="img/location.png" alt="">
                            <a href="address.html">Ünvan məlumatları</a>
                        </li>
                        <li>
                            <img src="img/notification.png" alt="">
                            <a href="account-notification.html">Bildiriş</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-right">
                    <h3>Şifrəni yenilə</h3>
                    <form action="">
                        <div class="form-group">
                            <label for="old-password">Köhnə şifrə</label>
                            <input type="password" id="old-password" placeholder="Köhnə şifrə">
                        </div>
                        <div class="form-group">
                            <label for="password">Ad</label>
                            <input type="password" id="password" placeholder="Yeni şifrə">
                        </div>
                        <div class="form-group">
                            <label for="change-password">Soyad</label>
                            <input type="password" id="change-password" placeholder="Yeni şifrənin təkrarı">
                        </div>
                        <button>Melumatları yenilə</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>