---
title: Home
description: This is home page
main-page: false
accaount-struktor: false
---

<div class="accaount-struktor">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-left">
                    <h3>Account</h3>
                    <ul class="profile-list">
                        <li>
                            <img src="img/user.png" alt="">
                            <a href="">Profile Melumatlrı</a>
                        </li>
                        <li>
                            <img src="img/setting.png" alt="">
                            <a href="settings-account.html">Hesab Ayarları</a>
                        </li>
                        <li>
                            <img src="img/setting.png" alt="">
                            <a href="address.html">Ünvan məlumatları</a>
                        </li>
                        <li>
                            <img src="img/setting.png" alt="">
                            <a href="card.html">kart məlumatları</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-right">
                    <h3>Şifrəni yenilə</h3>
                    <form action="">
                        <div class="form-group">
                            <label for="old-password">Köhnə şifrə</label>
                            <input type="password" id="old-password" placeholder="Köhnə şifrə">
                        </div>
                        <div class="form-group">
                            <label for="password">Ad</label>
                            <input type="password" id="password" placeholder="Yeni şifrə">
                        </div>
                        <div class="form-group">
                            <label for="change-password">Soyad</label>
                            <input type="password" id="change-password" placeholder="Yeni şifrənin təkrarı">
                        </div>
                        <button>Melumatları yenilə</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>