---
title: Home
description: This is home page

---

<div class="signupPro-block">
    <div class="container">
        <div class="singup-form-inner">
            <h3>Daha çok müşteriye ulaş, daha çok kazan</h3>
            <form action="">
                <div class="form-group">
                    <label for="mail">Görəcəyin işi seç</label>
                    <input type="text" id="mail" name="mail" placeholder="Görəcəyin işi seç">
                </div>
                <a href="signup-inner.html" type="Submit" value="Registration" class="login-btn">Registration</a>
                <p>Hesabın zaten var mı? <a href="login.html">Giriş yap!</a></p>
            </form>
        </div> 
    </div>
</div>