---
title: Home
description: This is home page
main-page: false
---







<section class="registration-inner-block">
    <div class="container">
        <div class="from-inner">
            <h4 class="mb-5">Görüləcək iş</h4>
            <div id="exTab1" class="container">	
                <ul  class="nav nav-pills">
                    <li class="active">
                        <a  href="#1a" data-toggle="tab">1</a>
                    </li>
                    <li>
                        <a href="#2a" data-toggle="tab">2</a>
                    </li>
                    <li>
                        <a href="#3a" data-toggle="tab">3</a>
                    </li>
                    <li>
                        <a href="#4a" data-toggle="tab">4</a>
                    </li>
                    <li>
                        <a href="#5a" data-toggle="tab">5</a>
                    </li>
                    <li>
                        <a href="#6a" data-toggle="tab">6</a>
                    </li>
                    <li>
                        <a href="#7a" data-toggle="tab">7</a>
                    </li>
                    <li>
                        <a href="#8a" data-toggle="tab">8</a>
                    </li>
                    <li>
                        <a href="#9a" data-toggle="tab">9</a>
                    </li>
                     <li>
                        <a href="#10a" data-toggle="tab">10</a>
                    </li>
                </ul>
                

                <div class="tab-content-inner">
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1a">
                            <h5>Şəxsi / şirket</h5>
                            <div class="wrapper">
                                <div class="wrapper-row">
                                    <div class="Checkbox is-checked js-checkbox">
                                        <div class="Checkbox-box">
                                            <div class="Checkbox-icon"></div>
                                        </div>
                                        <div class="Checkbox-label">Şəxsi</div>
                                    </div>
                                </div>
                                <div class="wrapper-row">
                                    <div class="Checkbox js-checkbox">
                                        <div class="Checkbox-box">
                                            <div class="Checkbox-icon"></div>
                                        </div>
                                        <div class="Checkbox-label">şirket</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="btn-block">
                                <a href="#2a" data-toggle="tab" class="next-btn">Next</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="2a">
                            <h4>Adınızı və soyadınızı daxil edin</h4>
                            <p class="text">Müşterilərin profilində vı təklif mesajında adını görecek</p>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" placeholder="Ad">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Soyad">
                                </div>
                            </form>
                            <div class="btn-block">
                                <a href="#2a" data-toggle="tab" class="prev-btn">Geri</a>
                                <a href="#3a" data-toggle="tab" class="next-btn">Irəli</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="3a">
                            <h4>Iş saatlarnızı qeyd edin</h4>
                            <p class="text">Bu saatlarda sizinlə əlaqə saxlaya bilsinlər</p>
                            <form action="">
                                <div class="form-group">
                                    <input type="datetime-local">
                                </div>
                            </form>
                            <div class="btn-block">
                                <a href="#3a" data-toggle="tab" class="prev-btn">Geri</a>
                                <a href="#4a" data-toggle="tab" class="next-btn">Irəli</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="4a">
                            <h4>Harda işləyirsən</h4>
                            <p class="text">Sizə yaxın iş ərazilərdən işlər göndərəcəyik</p>
                            <form action="">
                                <div class="form-group">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                        <option selected>Şəhər</option>
                                        <option value="1">Bakı</option>
                                        <option value="1">Siyəzən</option>
                                        <option value="2">Xızı</option>
                                        <option value="3">Şabran</option>
                                    </select>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                        <option selected>Rayon</option>
                                        <option value="1">Siyəzən</option>
                                        <option value="2">Xızı</option>
                                        <option value="3">Şabran</option>
                                    </select>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                        <option selected>Küçə</option>
                                        <option value="1">Siyəzən</option>
                                        <option value="2">Xızı</option>
                                        <option value="3">Şabran</option>
                                    </select>
                                </div>
                            </form>
                            <div class="btn-block">
                                <a href="#4a" data-toggle="tab" class="prev-btn">Geri</a>
                                <a href="#5a" data-toggle="tab" class="next-btn">Irəli</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="5a">
                            <h4>Email adresinizi daxil edin?</h4>
                            <p class="text">İş fırsatlarını emailine göndereceğiz. Email adresin yoksa şimdi bir sonraki aşamaya geçebilir, daha sonra emailini hesabına ekleyebilirsin.</p>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" placeholder="Email daxil edin">
                                </div>
                            </form>
                            <div class="btn-block">
                                <a href="#5a" data-toggle="tab" class="prev-btn">Geri</a>
                                <a href="#6a" data-toggle="tab" class="next-btn">Irəli</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="6a">
                            <h4>Tebrikler! Findprodan daha çok kazanmak için ilk aşamayı tamamladın.</h4>
                            <p class="text">Şimdi iş fırsatlarını alabilmek için birkaç soruya daha cevap vererek profilini güçlendirme zamanı</p>
                            <div class="img-box">
                                <img src="content/succes-img.png" alt="">
                            </div>
                            <div class="btn-block">
                                <a href="#5a" data-toggle="tab" class="prev-btn">Geri</a>
                                <a href="#7a" data-toggle="tab" class="next-btn">Irəli</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="7a">
                            <h4>Başka hangi hizmetleri veriyorsun?</h4>
                            <p class="text">Verdiğin hizmetleri bilirsek daha fazla iş fırsatı yönlendirebiliriz. Bunu daha sonra hesabından değiştirebilirsin.</p>
                            <div class="wrapper">
                                <div class="wrapper-row">
                                    <div class="Checkbox is-checked js-checkbox">
                                        <div class="Checkbox-box">
                                            <div class="Checkbox-icon"></div>
                                        </div>
                                        <div class="Checkbox-label">Elektrikçi</div>
                                    </div>
                                </div>
                                <div class="wrapper-row">
                                    <div class="Checkbox js-checkbox">
                                        <div class="Checkbox-box">
                                            <div class="Checkbox-icon"></div>
                                        </div>
                                        <div class="Checkbox-label">Perde Korniş Takma</div>
                                    </div>
                                </div>
                                 <div class="wrapper-row">
                                    <div class="Checkbox js-checkbox">
                                        <div class="Checkbox-box">
                                            <div class="Checkbox-icon"></div>
                                        </div>
                                        <div class="Checkbox-label">TV Montajı</div>
                                    </div>
                                </div>
                                <div class="wrapper-row">
                                    <div class="Checkbox js-checkbox">
                                        <div class="Checkbox-box">
                                            <div class="Checkbox-icon"></div>
                                        </div>
                                        <div class="Checkbox-label">Elektrik Tamiri</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="btn-block">
                                <a href="#8a" data-toggle="tab" class="next-btn">Davam et</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="8a">
                            <h4>Yüzünü önden gösteren kaliteli bir fotoğrafını ekle</h4>
                            <p class="text">Güleryüzlü bir profil fotoğrafı olan hizmet verenlerimiz iki katı daha fazla iş kazanıyor. Gülümse ve çek!</p>
                           <div class="img-box profil-img">
                               <img src="" alt="">
                           </div>

                            
                            <div class="btn-block">
                                <a href="#9a" data-toggle="tab" class="next-btn">Davam et</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="9a">
                            <h4>Tanıtım yazısı</h4>
                            <p class="text">Müşterilerin dikkatini çekmek ve farklılaşmak için deneyimini ve seni farklı yapan özelliklerini anlat.</p>
                        
                            <form action="">
                                <textarea name="" id="" cols="100" rows="10"></textarea>
                            </form>
                            
                            <div class="btn-block">
                                <a href="#10a" data-toggle="tab" class="next-btn">Göndər</a>
                            </div>
                        </div>
                        <div class="tab-pane" id="10a">
                            <h4>Şifre Oluşturma</h4>
                            <p class="text"></p>
                        
                            <form action="">
                                <div class="form-group">
                                    <input type="password" placeholder="Şifrəni daxil edin">
                                </div>
                            </form>
                            
                            <div class="btn-block">
                                <a href="#10a" data-toggle="tab" class="next-btn">Şifrəni qeyd edin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>