<section class="vacancy-inner">
    <div class="container">
        <div class="vacancy-navbar">
            <ul>
                <li>
                    <a href="">
                        <img src="img/11111.svg" alt=""> 
                        About
                    </a>
                </li>
                <li>
                    <a href="our_team.html">
                        <img src="img/22222.svg" alt="">
                        Team
                    </a>
                </li>
                <li>
                    <a href="vacancy.html">
                        <img src="img/33333.svg" alt="">
                        Vacancy
                    </a>
                </li>
                <li>
                    <a href="press.html">
                        <img src="img/44444.svg" alt="">
                        Press
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/55555.svg" alt="">
                        Blog
                    </a>
                </li>
            </ul>
        </div>

        <div class="vacancy-banner">
            <img src="content/skdsdsd.png" alt="">
        </div>

        <h3 class="title">Join us to develop, use your skills,<br>get a career.</h3>

        <div class="vacancy-block">
            <div class="vacancy-list">
                <div class="vacancy-box">
                    <p>PHOTOGRAPHER</p>
                </div>
                <div class="vacancy-box">
                   <p>WEB <br>
                    DEVELOPER</p> 
                </div>
                <div class="vacancy-box">
                    <p>MARKETING <br>MANAGER</p>
                </div>
            </div>
            <div class="vacancy-list1">
                <div class="vacancy-box"></div>
                <div class="vacancy-box"></div>
                <div class="vacancy-box">
                    <p>PHP & MySQL</p>
                </div>
                <div class="vacancy-box">
                    <p>SERVANT</p>
                </div>
            </div>
            <div class="vacancy-list">
                <div class="vacancy-box"></div>
                <div class="vacancy-box"></div>
                <div class="vacancy-box"></div>
            </div>
            <div class="vacancy-list1">
                <div class="vacancy-box"></div>
                <div class="vacancy-box"></div>
                <div class="vacancy-box"></div>
                <div class="vacancy-box"></div>
            </div>
            
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="inner-text">
                    <h4>Photographer</h4>
                    <h5>at Find-Pros</h5>
                    <h5>Baku</h5>

                    <p>Here at Find-Pros, we’re building the easiest way for people to hire local professionals for projects big
and small. From house painting to personal training and everything in between, we match customers to
the right pros for all of life’s projects.</p>

                    <h3>About You</h3>

                    <p>You enjoy collaborating with designers, photographers, and others to bring creative concepts to life by
managing every facet of photography and video production. You have led the production of photoshoots,
created photography guidelines, built photo libraries with both stock and original photography, and
maintained content management systems for companies. You believe in photography as a powerful
tool to tell a brand's story and you personally champion images as a powerful expression of the brand.
You have a high bar for quality and you’re not afraid to get scrappy to make great work happen.</p>

                    <h3>Responsibilities</h3>

                    <p>You enjoy collaborating with designers, photographers, and others to bring creative concepts to life by
managing every facet of photography and video production. You have led the production of photoshoots,
created photography guidelines, built photo libraries with both stock and original photography, and
maintained content management systems for companies. You believe in photography as a powerful
tool to tell a brand's story and you personally champion images as a powerful expression of the brand.
You have a high bar for quality and you’re not afraid to get scrappy to make great work happen.</p>

                <div class="form-block">
                    <div class="head">
                        <h4>Aplication form</h4>
                        <p><span>* </span>Mandatory</p>
                    </div>
                    <form action="">
                        <div class="form-group">
                            <label for="">Name <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Surname <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Email <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Phone numbe <span>*</span></label>
                            <input type="text">
                        </div>
                    </form>
                </div>
                <div class="form-block two-form-block">
                    <form action="">
                        <div class="form-group">
                            <label for="">Linkedin Profile <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Website <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Email <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Where did you get the information about our company? <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="submit-block">
                            <input type="submit">
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>