---
title: Home
description: This is home page
main-page: false
accaount-struktor: false
---




<div class="accaount-struktor">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-left">
                    <h3>Account</h3>
                    <ul class="profile-list">
                        <li>
                            <img src="img/user.png" alt="">
                            <a href="profile.html">Profile Melumatlrı</a>
                        </li>
                        <li>
                            <img src="img/credit-card.png" alt="">
                            <a href="card.html">Büdcə və Ödənişlər</a>
                        </li>
                        <li>
                            <img src="img/gear.png" alt="">
                            <a href="settings-account.html">Təhlükəsizlik ayarları</a>
                        </li>
                        <li>
                            <img src="img/repairing-service.png" alt="">
                            <a href="services.html">Xidmətlərim</a>
                        </li>
                        <li>
                            <img src="img/address.png" alt="">
                            <a href="work-areal.html" class="active">İş arealı</a>
                        </li>
                        <li>
                            <img src="img/customer-service.png" alt="">
                            <a href="">Əlavə xidmətlər</a>
                        </li>
                        <li>
                            <img src="img/inbox.png" alt="">
                            <a href="">Gələnlər qutusu</a>
                        </li>
                        <li>
                            <img src="img/location.png" alt="">
                            <a href="address.html">Ünvan məlumatları</a>
                        </li>
                        <li>
                            <img src="img/notification.png" alt="">
                            <a href="account-notification.html">Bildiriş</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-right">
                    <h3>İş arealı</h3>
                    <div class="work-areal">
                        <h4>Travel area</h4>
                        <p>Here you can change your postcode decrease and increase your travel area</p>
                        <div class="checkbox-block">
                            <div>
                                <span>
                                    <input type="checkbox">
                                    I travel to my customers
                                </span>
                                <span>
                                    <input type="checkbox">
                                    My customers travel to me
                                </span>
                                <span>
                                    <input type="checkbox">
                                    Neither (Phone or internet only)
                                </span>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <label for="">Choose Postcode</label>
                                <select name="" id="">
                                    <option value="">1111111</option>
                                    <option value="">1111111</option>
                                    <option value="">1111111</option>
                                    <option value="">1111111</option>
                                    <option value="">1111111</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Choose travel area</label>
                                <select name="" id="">
                                    <option value="">1111111</option>
                                    <option value="">1111111</option>
                                    <option value="">1111111</option>
                                    <option value="">1111111</option>
                                    <option value="">1111111</option>
                                </select>
                            </div>
                        </div>
                        <div class="map-box">
                            <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Siyezen+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/sport-gps/">gps watches</a></iframe>
                        </div>
                    </div>
                    <button>Melumatları yenilə</button>
                </div>
            </div>
        </div>
    </div>
</div>