@font-face {
    font-family: 'source-regular';
        src:url('../fonts/SourceSansPro-Regular.ttf');
    }


@font-face {
    font-family: 'source-semibold';
        src:url('../fonts/SourceSansPro-SemiBold.ttf');
    }
    


@font-face {
    font-family: 'source-bold';
        src:url('../fonts/SourceSansPro-Bold.ttf');
        }   

    