<div class="list list-breadcrump">
    <div class="container">
        <ul>
            <li><a href="">{{bc-1}}</a></li>
            {{#is bc2 true}}
            <li><a href="">{{bc-2}}</a></li>
            {{/is}}
            {{#is bc3 true}}
            <li><a href="">{{bc-3}}</a></li>
            {{/is}}
            <li class="active">{{bc-4}}</li>
            
        </ul>
    </div>
</div>