
<ul class="list list-pagination">
    <li class="page-item pagination-prev p-btn">
        <a class="" href="#"><img src="img/pag-prev.svg" alt=""></a>

    </li>
    <li class="page-item "><a class="page-link" href="#">1</a></li>
    <li class="page-item active"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><p class="page-dots">...</p></li>
    <li class="page-item"><a class="page-link" href="#">12</a></li>
    <li class="page-item pagination-next p-btn">
        <a class="" href="#"><img src="img/pag-next.svg" alt=""></a>
    </li>
</ul>
